.custom-modal__footer{
    position: absolute;
    bottom: 0;
}
.custom-modal {
    height: 55%;
}

.modal__elements-radioButton {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.textArea {
    resize: none;
    height: 12rem;
    margin-left: .5rem;
}

textArea:focus {
    border: 2px solid #26a69a !important;
    outline: 0 none;
}