/* {
  "presets": ["@babel/env", "@babel/preset-react","@babel/preset-typescript","stage-2"],
  // ,
  //   ["env", {
  //     "targets": {
  //       "browsers": ["last 2 Chrome versions"]
  //     }
  //   }]
  //],
  "plugins": [
    // [
    //   ["transform-runtime", {
    //     "regenerator": true
    //   }],
    "react-require"]
} */
/* {
"presets": [[
  "@babel/preset-env", {
    "useBuiltIns": "entry"
  }],
  "@babel/preset-react","@babel/preset-typescript"],
"plugins": [
  "@babel/plugin-proposal-class-properties",
  "@babel/plugin-proposal-export-default-from",
  "react-require",
  ["transform-runtime", {
      "regenerator": true
  }]
  //"react-hot-loader/babel"
]
} */
{
  "presets": [
    ["@babel/preset-env", {
      "debug": false,
      "modules": false,
      "useBuiltIns": false
    }], 
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "syntax-dynamic-import",
    "react-require",
    "@babel/plugin-transform-runtime",
    [ "@babel/plugin-proposal-class-properties", { "loose": true } ],
    "transform-async-to-generator"
  ],
  "env": {
    "production": {
      "presets": ["@babel/preset-env"]/* ["react-optimize"] */
    }
  }
}