{
  "presets": ["@babel/env", "@babel/preset-react","@babel/preset-typescript"],/* ,
    ["env", {
      "targets": {
        "browsers": ["last 2 Chrome versions"]
      }
    }] */
  //],
  "plugins": [
   /*  [
      ["transform-runtime", {
        "regenerator": true
      }], */
    "react-require"]
}