.filterText {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.buttonClear {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;

}

.shiftButtonClear {
    margin-top: 2rem;
    margin-left: -2rem;
}

.buttonClear:focus {
    background-color: Transparent !important;
    border: none;
}

.input-field.suffix i {
    position: absolute;
    width: 3rem;
    font-size: 2rem;
    transition: color .2s;
    top: 1rem;
    left: 0px;
}



.buttonPlus {
  color: #26a69a;
  margin-left: 3rem;
  margin-top: 1.5rem;
}



.input-field.suffix input,
.input-field.suffix textarea {
    margin-left: 2.5rem;
}

.input-field.suffix textarea {
    padding-top: .8rem;
}

.input-field.suffix label {
      margin-left: 2.5rem;
}

@media only screen and (max-width: 992px) {
    .input-field.suffix input {
        width: 86%;
        width: calc(100% - 3rem);
    }
}

@media only screen and (max-width: 600px) {
    .input-field.suffix input {
        width: 80%;
        width: calc(100% - 3rem);
    }
}
