html,body{
    height: 100%;
    font-family: Arial, "Helvetica Neue", sans-serif;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.wrapper{
    max-width: 1560px;
    margin: 0px auto;
    padding: 0px 10px;
}

.container {
    max-width: 1560px;
    margin: 0px auto;
    padding: 0px 10px;
    width: auto;
}   

.brand {
    font-weight: bold;
    font-size: 20px;
 }
 
 
.sugar-header {
    position: fixed;
    background-color: #fffafa;
    width: 100%;
    top:0;
    left: 0;
    z-index: 50;
}

.sugar-header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background-color: #fffafa;//#fcdab7;
    z-index: 2;
}
.sugar-header__logo{
    flex: 0 0 55px;
    display: flex;
    align-items: flex-end;
    z-index: 3;
}

.sugar-header__logo img{
    max-width: 100%;
    max-height: 100%;
}

.sugar-header__start__brand{
    max-width: 100%;
 }


.sugar-header__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-right: 1rem;
    position: relative;
}

.sugar-header__menu {
    width: auto;
    background-color: inherit;
    color: #000;
    box-shadow: inherit !important;
    -webkit-box-shadow: inherit !important;
}


.sugar-header__list{
    display: flex;
    position: relative;
    z-index: 2;
    font-weight: bold;
    font-family: "Helvetica";
}
.sugar-header__list li{
    float: none;
    margin: 0 0 0 20px;
}

.sugar-header__list li a{
    color: black;
}

.sugar-header__link{
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
}
.sugar-header__list li a:hover{
  outline: none !important;
  box-shadow: none !important;
  background-color: inherit;
  color: hotpink;
}

.sugar-header__burger{}

@media(max-width:767px){
    body.lock{
        overflow: hidden;
    }
    .sugar-header__body{
        height: 50px;
    }
    .sugar-header__logo{
        //flex:0 0 30px;
        height: 48px;
        font-size: 16px;
    }
    .sugar-header__burger{
        display: block;
        position: relative; 
        width: 30px;
        height: 20px;
        z-index: 3;
    }
    .sugar-header__burger span{
        position: absolute;
        background-color: #000;
        width: 100%;
        height: 2px;
        top: 9px;
        transition: all 0.3s ease 0s;
    }
    .sugar-header__burger::before,
    .sugar-header__burger::after {
        content: '';
        background-color: #000;
        position: absolute;
        width: 100%;
        height: 2px;
        left: 0;
        transition: all 0.3s ease 0s;
    }
    .sugar-header__burger::before {
        top: 0;
    }
    .sugar-header__burger::after{
        bottom: 0;
    }
    .sugar-header__burger.active span {
        transform: scale(0);
    }
    .sugar-header__burger.active::before {
        transform: rotate(45deg);
        top: 9px;
    }
    .sugar-header__burger.active::after {
        transform: rotate(-45deg);
        bottom: 9px;
    }

    .sugar-header__menu{
        position: fixed;
        top:-100%;
        left:0;
        width: 100%;
        height: 100%;
        background-color: #fff !important;
        padding: 70px 10px 20px 10px;
        transition: all 0.5s ease 0s;
    }
    .sugar-header__menu.active{
        top:0;
    }
    .sugar-header__list{    
        display: block;
    }
    .sugar-header__list li{
        margin: 0 0 20px 0;
    }
}

.sugar-header__end{
    display: none;
}

.content{
    padding: 100px 0 0 0;
}
.content_text{
    font-size: 16px;
    line-height: 20px;
}
@media(max-width:767px){
    .content{
        padding: 60px 0 0 0 ;
    }
}



